<%- include common/common_head %>
<body class="fixed-header ">
<div class="login-wrapper ">
  <!-- START Login Background  Pic Wrapper-->

  <!-- END Login Background Pic Wrapper-->
  <!-- START Login Right Container-->
  <div class="login-container bg-white">
    <div class="p-l-50 m-l-20 p-r-50 m-r-20 p-t-50 m-t-30 sm-p-l-15 sm-p-r-15 sm-p-t-40">
     <h3><center><b>LOGIN</b></center></h3>
      <p class="p-t-35">Sign into your account</p>
      <!-- START Login Form -->
      <form id="11n" class="p-t-15" role="form" method="post" action="<%= loginAction %>">
        <!-- START Form Control-->
        <div class="form-group form-group-default">
          <label>Login</label>
          <div class="controls">
            <input type="text" name="username" placeholder="Email Id" class="form-control" required>
          </div>
        </div>
        <!-- END Form Control-->
        <!-- START Form Control-->
        <div class="form-group form-group-default">
          <label>Password</label>
          <div class="controls">
            <input type="password" class="form-control" name="password" placeholder="Credentials" required>
          </div>
        </div>
        <!-- START Form Control-->
        <div class="row">
          <div class="col-md-6 no-padding">
          <!-- <a href="/user/forgot-password">Forgot Password</a> -->
            <!-- <div class="checkbox ">
              <input type="checkbox" name="keepSignIn" value="1" id="checkbox1">
              <label for="checkbox1">Forgotten Account?</label>
            </div> -->
          </div>
          <div class="col-md-6 text-right">
            <!-- <a href="#"> Help?<a href="#"> Contact<a href="#"> Support</a></a></a> -->
          </div>
        </div>
        <!-- END Form Control-->
        <button class="btn btn-primary btn-cons m-t-10" type="submit">Sign in</button>
        <% if(typeof loginType === 'string' && loginType == 'user'){ %>
        <!-- <a href="/user/auth/facebook" class="btn btn-block btn-info m-t-10">
                  <span class="pull-left"><i class="fa fa-facebook"></i> </span>
                  <span class="bold">Login with Facebook</span>
                </a>
        <a href="/user/auth/twitter" class="btn btn-block btn-primary">
                  <span class="pull-left"><i class="fa fa-twitter"></i></span>
                  <span class="bold">Login with Twitter</span>
                </a>
        <a href="/user/auth/google" class="btn btn-block btn-danger">
          <span class="pull-left"><i class="fa fa-google-plus"></i>
                        </span>
          <span class="bold">Login with Google+</span>
        </a> -->
        <% } %>
      </form>

      <!--END Login Form-->
      <% if(typeof loginType === 'string' && loginType == 'user'){ %>
      <div class="pull-bottom sm-pull-bottom">
        <div class="m-b-30 p-r-80 sm-m-t-20 sm-p-r-15 sm-p-b-20 clearfix">
          
          <div class="col-sm-12 no-padding m-t-10 login-link">
            <p>
              <h4>
							Not yet registered! <a href="/user/register" class="text-info"><strong>Signup</strong></a> now 
						</h4>
            </p>
          </div>
        </div>
      </div>
      <% } %>
    </div>
  </div>
  <!-- END Login Right Container-->
</div>
 <%- include common/common_footer %> 

  