<!-- <ul class="notification-list no-margin hidden-sm hidden-xs b-grey b-l b-r no-style p-l-30 p-r-20">
    <li class="p-r-15 inline">
        <div class="dropdown">
            <a href="#!" id="notification-center" title="Notifications" class="icon-set globe-fill font-large" data-toggle="dropdown">
                <span class="bubble"></span>
            </a>
            <div class="dropdown-menu notification-toggle" role="menu" aria-labelledby="notification-center">
                <!-- START Notification -->
                <!-- <div class="notification-panel">
                    <!-- START Notification Body-->
                   <!-- <div class="notification-body " id="notification-list"> -->

                       <!-- <div class='modal-mask'>
                            <div class='circle-loader'></div>
                        </div>
                    </div>
                    <div class="notification-footer text-center">
                        <a href="/notifications" class="">Read all notifications</a>
                    </div>
                    <!-- END Notification -->
               <!-- </div> -->
                <!-- END Notification Dropdown -->
           <!-- </div>
    </li>
    <li class="p-r-15 inline">
        <a href="#!" title="Invite More Members" data-post-id="" data-act="ajax-modal" data-title="Invite Members" class="fa fa-user-plus font-large" data-action-url="/inviteMember"></a>
    </li>
</ul> -->