<div id="quickview" class="quickview-wrapper" data-pages="quickview">
  <!-- Nav tabs -->
  <ul class="nav nav-tabs">


    <li class="active">
      <a href="#quickview-chat" data-toggle="tab">Messages</a>
    </li>
  </ul>
  <a class="btn-link quickview-toggle" data-toggle-element="#quickview" data-toggle="quickview"><i class="pg-close"></i></a>
  <!-- Tab panes -->
  <div class="tab-content">
    <div class="tab-pane fade in active no-padding" id="quickview-chat">
      <div class="view-port clearfix" id="chat">
        <div class="view bg-white">
          <!-- BEGIN View Header !-->
          <div class="navbar navbar-default">
            <div class="navbar-inner">
              <!-- BEGIN Header Controler !-->
              <!--  <a href="javascript:;" class="inline action p-l-10 link text-master" data-navigate="view" data-view-port="#chat" data-view-animation="push-parrallax">
                    <i class="pg-plus"></i>
                  </a> -->
              <!-- END Header Controler !-->
              <div class="view-heading">
                Message List
                <!-- <div class="fs-11">Show All</div> -->
              </div>
              <!-- BEGIN Header Controler !-->
              <!-- <a href="#" class="inline action p-r-10 pull-right link text-master">
                    <i class="pg-more"></i>
                  </a> -->
              <!-- END Header Controler !-->
            </div>
          </div>
          <!-- END View Header !-->
          <div data-init-list-view="ioslist" class="list-view boreded no-top-border">
            <div id="chat-user-list"></div>
          </div>
        </div>
        <!-- BEGIN Conversation View  !-->
        <div class="view chat-view bg-white clearfix" id="chat-view">
          <!-- BEGIN Header  !-->
          <div class="navbar navbar-default">
            <div class="navbar-inner">
              <a href="javascript:;" class="link text-master inline action p-l-10 p-r-10" data-navigate="view" data-view-port="#chat" data-view-animation="push-parrallax">
                <i class="pg-arrow_left"></i>
              </a>
              <div class="view-heading" id="friend-name">
                
                <!-- <div class="fs-11 hint-text">Online</div> -->
              </div>
              <!-- <a href="#" class="link text-master inline action p-r-10 pull-right ">
                <i class="pg-more"></i>
              </a> -->
            </div>
          </div>
          <!-- END Header  !-->
          <!-- BEGIN Conversation  !-->
          <div class="chat-inner" id="my-conversation">

          </div>
          <!-- BEGIN Conversation  !-->
          <!-- BEGIN Chat Input  !-->
          <div class="b-t b-grey bg-white clearfix p-l-10 p-r-10">
            <div class="row">
              <!-- <div class="col-xs-1 p-t-15">
                <a href="#" class="link text-master"><i class="fa fa-plus-circle"></i></a>
              </div> -->
              <div class="col-xs-12 no-padding">
                <input type="text" class="form-control chat-input" data-chat-input="" data-chat-conversation="#my-conversation" placeholder="Say something" data-friendid="" id="send-msg-btn">
              </div>
              <!-- <div class="col-xs-2 link text-master m-l-10 m-t-15 p-l-10 b-l b-grey col-top">
                <a href="#" class="link text-master"><i class="pg-camera"></i></a>
              </div> -->
            </div>
          </div>
          <!-- END Chat Input  !-->
        </div>
      </div>
    </div>
  </div>
</div>