<div class="container-fluid container-fixed-lg bg-white">
    <div class="row">

        <div class="col-md-12">
            <!-- START PANEL -->
            <div class="panel panel-transparent">
              <div class="panel-heading">
                  <!-- <div class="panel-title">
                      Create New Community</div> -->
              </div>
 <div class="panel-body">
      <div class="col-md-12 text-center">
        <button type="button" class="btn btn-success btn-cons m-b-10 m-t-10">Back</button>
      </div>
                
        <div class="col-md-6">
                
    
            <div class="thumbnail-wrapper d48 circular bg-success text-white inline m-t-10">
              <div>
                <img width="50" height="50" src="/img/profiles/avatar.jpg" data-src="/img/profiles/avatar.jpg" data-src-retina="img/profiles/avatar2x.jpg" alt="">
              </div>
            </div>
          <!-- END Search Result Item Thumbnail !-->
            <div class="p-l-10 inline p-t-5">
              <h5 class="m-b-5">Jeff Scott <i class="fa fa-check-square-o" aria-hidden="true"></i></h5>

            </div>            
         </div>
         <div class="col-md-6">
                
    
            <div class="thumbnail-wrapper d48 circular bg-success text-white inline m-t-10">
              <div>
                <img width="50" height="50" src="/img/profiles/avatar.jpg" data-src="/img/profiles/avatar.jpg" data-src-retina="img/profiles/avatar2x.jpg" alt="">
              </div>
            </div>
          <!-- END Search Result Item Thumbnail !-->
            <div class="p-l-10 inline p-t-5">
              <h5 class="m-b-5">Jeff Scott <i class="fa fa-check-square-o" aria-hidden="true"></i></h5>

            </div>            
         </div>


          <div class="col-md-6">
                    
            
              <div class="thumbnail-wrapper d48 circular bg-success text-white inline m-t-10">
                  <div>
                    <img width="50" height="50" src="/img/profiles/avatar.jpg" data-src="/img/profiles/avatar.jpg" data-src-retina="img/profiles/avatar2x.jpg" alt="">
                  </div>
              </div>
            
              <div class="p-l-10 inline p-t-5">

                  <h5 class="m-b-5"><span class="semi-bold result-name">AMDOCS <span class="glyphicon glyphicon-ok"></span></span></h5>
              </div>            
          </div>
          <div class="col-md-6">
                
    
            <div class="thumbnail-wrapper d48 circular bg-success text-white inline m-t-10">
              <div>
                <img width="50" height="50" src="/img/profiles/avatar.jpg" data-src="/img/profiles/avatar.jpg" data-src-retina="img/profiles/avatar2x.jpg" alt="">
              </div>
            </div>
          <!-- END Search Result Item Thumbnail !-->
            <div class="p-l-10 inline p-t-5">
              <h5 class="m-b-5">Jeff Scott <i class="fa fa-check-square-o" aria-hidden="true"></i></h5>

            </div>            
         </div>


        <div class="col-md-6">
                
          
            <div class="thumbnail-wrapper d48 circular bg-success text-white inline m-t-10">
                <div>
                  <img width="50" height="50" src="/img/profiles/avatar.jpg" data-src="/img/profiles/avatar.jpg" data-src-retina="img/profiles/avatar2x.jpg" alt="">
                </div>
            </div>
          
            <div class="p-l-10 inline p-t-5">
                <h5 class="m-b-5"><span class="semi-bold result-name">jeff Scott <span class="glyphicon glyphicon-ok"></span>
                <span class="glyphicon glyphicon-remove"></span> 
                </span></h5>
            </div> 

        </div>
        <div class="col-md-6">
                
    
            <div class="thumbnail-wrapper d48 circular bg-success text-white inline m-t-10">
              <div>
                <img width="50" height="50" src="/img/profiles/avatar.jpg" data-src="/img/profiles/avatar.jpg" data-src-retina="img/profiles/avatar2x.jpg" alt="">
              </div>
            </div>
          
            <div class="p-l-10 inline p-t-5">
              <h5 class="m-b-5">Jeff Scott <i class="fa fa-check-square-o" aria-hidden="true"></i></h5>

            </div>            
         </div>

     
             <div class="col-md-6">
                        
                <div class="thumbnail-wrapper d48 circular bg-success text-white inline m-t-10">
                    <div>
                      <img width="50" height="50" src="/img/profiles/avatar.jpg" data-src="/img/profiles/avatar.jpg" data-src-retina="img/profiles/avatar2x.jpg" alt="">
                    </div>
                </div>

              
                <div class="p-l-10 inline p-t-5">
                    <h5 class="m-b-5"><span class="semi-bold result-name">jeff Scott <span class="glyphicon glyphicon-ok"></span>
                    <span class="glyphicon glyphicon-remove"></span> 
                    </span></h5>
                </div> 
                </div>
                <div class="col-md-6">
                
    
            <div class="thumbnail-wrapper d48 circular bg-success text-white inline m-t-10">
              <div>
                <img width="50" height="50" src="/img/profiles/avatar.jpg" data-src="/img/profiles/avatar.jpg" data-src-retina="img/profiles/avatar2x.jpg" alt="">
              </div>
            </div>
          
            <div class="p-l-10 inline p-t-5">
              <h5 class="m-b-5">Jeff Scott <i class="fa fa-check-square-o" aria-hidden="true"></i></h5>

            </div>            
         </div>

                      <div class="loading">
                        <h4 align="center" class="p-l-40">Loading More <i class="fa fa-spinner fa-2x" aria-hidden="true"></i></h4>
                      </div>
                 <!-- </div> -->
         </div>
    </div>
</div>
</div>
</div>
