<%- include common_head %>

  <body class="fixed-header error-page">
    <div class="container-xs-height full-height">
      <div class="row-xs-height">
        <div class="col-xs-height col-middle">
          <div class="error-container text-center">
            <h1 class="error-number">404</h1>
            <h2 class="semi-bold">Sorry but we couldnt find this page</h2>
            <p>Go to Home Page    <a href="<%= (session !== undefined && typeof session === 'object' && (session.user !== undefined || session.admin !== undefined )) ? (session.user != undefined ? '/user/dashboard' : '/admin/dashboard') : '/user/login'  %>" >Home?</a>
            </p>
          </div>
        </div>
      </div>
    </div>   

    <%- include common_footer %> 
